USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 10/05/2026 9:39:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,      -- Mã hợp đồng (MaHD)
    @TargetDate DATETIME  -- Mốc thời gian muốn chốt công nợ
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    -- Khai báo các biến lưu trữ dòng tiền
    DECLARE @TongNoPhatSinh DECIMAL(18,2) = 0;
    DECLARE @TongDaTra DECIMAL(18,2) = 0;
    DECLARE @DuNoHienTai DECIMAL(18,2) = 0;

    -- Khai báo các biến lấy từ hợp đồng
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @NgayVay DATETIME;
    DECLARE @Deadline1 DATETIME;
    
    -- Khai báo biến đếm thời gian
    DECLARE @SoNgayLaiDon INT = 0;
    DECLARE @SoNgayLaiKep INT = 0;

    -- =================================================================
    -- BƯỚC 1: LẤY THÔNG TIN GỐC CỦA HỢP ĐỒNG
    -- =================================================================
    SELECT 
        @TienGoc = SoTienVayGoc,
        @NgayVay = NgayVay,
        @Deadline1 = Deadline1
    FROM HopDong 
    WHERE MaHD = @ContractID;

    -- Bắt lỗi nếu mã hợp đồng không tồn tại
    IF @TienGoc IS NULL RETURN 0;

    -- =================================================================
    -- BƯỚC 2: TÍNH TỔNG NỢ LÝ THUYẾT (GỐC + LÃI ĐƠN + LÃI KÉP)
    -- =================================================================
    IF (@TargetDate <= @Deadline1)
    BEGIN
        -- Giai đoạn Lãi đơn (0.5% / ngày)
        SET @SoNgayLaiDon = DATEDIFF(day, @NgayVay, @TargetDate);
        IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0; 
        
        SET @TongNoPhatSinh = @TienGoc + (@TienGoc * 0.005 * @SoNgayLaiDon);
    END
    ELSE 
    BEGIN
        -- Giai đoạn Lãi kép
        SET @SoNgayLaiDon = DATEDIFF(day, @NgayVay, @Deadline1);
        SET @SoNgayLaiKep = DATEDIFF(day, @Deadline1, @TargetDate);

        -- Chốt số tiền (Gốc + Lãi đơn) tại mốc Deadline 1
        DECLARE @TienChotDeadline1 DECIMAL(18,2);
        SET @TienChotDeadline1 = @TienGoc + (@TienGoc * 0.005 * @SoNgayLaiDon);

        -- Áp dụng hàm POWER để tính lãi kép cộng dồn từ Deadline 1 đến TargetDate
        SET @TongNoPhatSinh = @TienChotDeadline1 * POWER(1.005, @SoNgayLaiKep);
    END

    -- =================================================================
    -- BƯỚC 3: ĐỐI TRỪ VỚI LỊCH SỬ THANH TOÁN (AUDIT LOG)
    -- =================================================================
    -- Quét toàn bộ bảng LogBienDong để xem khách đã trả bao nhiêu tiền cho hợp đồng này
    -- Dùng hàm ISNULL để phòng trường hợp khách chưa trả đồng nào (tránh lỗi NULL)
    SELECT @TongDaTra = ISNULL(SUM(SoTienTra), 0)
    FROM LogBienDong
    WHERE MaHD = @ContractID AND NgayGiaoDich <= @TargetDate;

    -- =================================================================
    -- BƯỚC 4: TÍNH TOÁN DƯ NỢ CUỐI CÙNG
    -- =================================================================
    SET @DuNoHienTai = @TongNoPhatSinh - @TongDaTra;
    
    -- Xử lý ngoại lệ: Nếu khách trả dư tiền thì dư nợ bằng 0
    IF @DuNoHienTai < 0 
        SET @DuNoHienTai = 0;

    RETURN @DuNoHienTai;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 10/05/2026 9:39:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT, -- Tương đương với Mã Hợp Đồng (MaHD)
    @TargetDate DATETIME
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18,2) = 0;
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @NgayVay DATETIME;
    DECLARE @Deadline1 DATETIME;
    
    DECLARE @SoNgayLaiDon INT = 0;
    DECLARE @SoNgayLaiKep INT = 0;

    -- BƯỚC 1: TRUY XUẤT DỮ LIỆU KHOẢN VAY
    SELECT 
        @TienGoc = SoTienVayGoc,
        @NgayVay = NgayVay,
        @Deadline1 = Deadline1
    FROM HopDong 
    WHERE MaHD = @TransactionID;

    -- Bắt lỗi nếu mã hợp đồng không tồn tại
    IF @TienGoc IS NULL RETURN 0;

    -- BƯỚC 2: TÍNH TOÁN CÔNG NỢ DỰA TRÊN THỜI GIAN
    IF (@TargetDate <= @Deadline1)
    BEGIN
        -- TRƯỜNG HỢP 1: Lãi đơn (Trước hoặc đúng Deadline 1)
        SET @SoNgayLaiDon = DATEDIFF(day, @NgayVay, @TargetDate);
        
        -- Tránh trường hợp TargetDate nhập vào nhỏ hơn NgayVay
        IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0; 
        
        -- Tính tổng tiền = Gốc + Lãi đơn
        SET @TongTien = @TienGoc + (@TienGoc * 0.005 * @SoNgayLaiDon);
    END
    ELSE 
    BEGIN
        -- TRƯỜNG HỢP 2: Lãi kép (Sau Deadline 1)
        -- Chốt số ngày tính lãi đơn (Từ ngày vay đến Deadline 1)
        SET @SoNgayLaiDon = DATEDIFF(day, @NgayVay, @Deadline1);
        
        -- Số ngày tính lãi kép (Từ Deadline 1 đến TargetDate)
        SET @SoNgayLaiKep = DATEDIFF(day, @Deadline1, @TargetDate);

        -- Tính số tiền chốt tại Deadline 1 (Bao gồm Gốc và Lãi đơn)
        DECLARE @TienChotDeadline1 DECIMAL(18,2);
        SET @TienChotDeadline1 = @TienGoc + (@TienGoc * 0.005 * @SoNgayLaiDon);

        -- Tính Lãi kép cộng dồn dựa trên số tiền chốt Deadline 1
        SET @TongTien = @TienChotDeadline1 * POWER(1.005, @SoNgayLaiKep);
    END

    -- BƯỚC 3: TRẢ VỀ KẾT QUẢ CUỐI CÙNG
    RETURN @TongTien;
END;

GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 10/05/2026 9:39:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayVay] [datetime] NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[CCCD] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogBienDong]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBienDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaNV] [int] NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AA7BA8068F]    Script Date: 10/05/2026 9:39:37 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LogBienDong] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LogBienDong]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[LogBienDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangKyHopDong]
    @HoTen NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @CCCD VARCHAR(12),
    @SoTienVay DECIMAL(18,2),
    @TenTS NVARCHAR(100),
    @DinhGia DECIMAL(18,2)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @MaKH INT;
        
        -- 1. XỬ LÝ KHÁCH HÀNG (Kiểm tra xem đã tồn tại chưa)
        SELECT @MaKH = MaKH FROM KhachHang WHERE CCCD = @CCCD;
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (HoTen, SoDienThoai, CCCD) 
            VALUES (@HoTen, @SoDienThoai, @CCCD);
            
            -- Lấy ID khách hàng vừa được tạo tự động
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- 2. TÍNH TOÁN DEADLINE (Giả định Deadline 1 là 30 ngày, Deadline 2 là 60 ngày)
        DECLARE @Deadline1 DATETIME = DATEADD(day, 30, GETDATE());
        DECLARE @Deadline2 DATETIME = DATEADD(day, 60, GETDATE());

        -- 3. XỬ LÝ HỢP ĐỒNG
        DECLARE @MaHD INT;
        INSERT INTO HopDong (MaKH, NgayVay, SoTienVayGoc, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, GETDATE(), @SoTienVay, @Deadline1, @Deadline2, N'Đang vay');
        
        -- Lấy ID hợp đồng vừa được tạo tự động
        SET @MaHD = SCOPE_IDENTITY();

        -- 4. XỬ LÝ TÀI SẢN
        INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia, TrangThaiTS)
        VALUES (@MaHD, @TenTS, @DinhGia, N'Đang cầm cố');

        -- Xác nhận lưu dữ liệu vĩnh viễn
        COMMIT TRANSACTION;
        PRINT N'Đăng ký hợp đồng thành công!';
        
    END TRY
    BEGIN CATCH
        -- Hoàn tác nếu có bất kỳ lỗi nào xảy ra
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi giao dịch: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyThanhToan]    Script Date: 10/05/2026 9:39:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_XuLyThanhToan]
    @MaHD INT,
    @MaNV INT, -- Cần có mã nhân viên thu tiền để ghi vào Log
    @SoTienKhachTra DECIMAL(18,2)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Khai báo các biến cần thiết
        DECLARE @TrangThaiHD NVARCHAR(50);
        DECLARE @DuNoHienTai DECIMAL(18,2);
        DECLARE @DuNoMoi DECIMAL(18,2);
        DECLARE @TongGiaTriTS DECIMAL(18,2);

        -- =================================================================================
        -- Ý NHỎ 1: KIỂM TRA CHẶN LỖI (TÀI SẢN ĐÃ THANH LÝ)
        -- =================================================================================
        SELECT @TrangThaiHD = TrangThai FROM HopDong WHERE MaHD = @MaHD;
        
        -- Nếu hợp đồng đã đánh cờ thanh lý (IsSold) hoặc nợ xấu quá hạn không thể cứu vãn
        IF (@TrangThaiHD = N'Đã thanh lý' OR @TrangThaiHD = N'Đã bán thanh lý')
        BEGIN
            PRINT N'Tài sản đã bị thanh lý (IsSold). Không thu tiền, không trả đồ!';
            ROLLBACK TRANSACTION; -- Hủy giao dịch ngay lập tức
            RETURN; -- Thoát khỏi Procedure
        END

        -- =================================================================================
        -- Ý NHỎ 2: XỬ LÝ DÒNG TIỀN VÀ TRẠNG THÁI HỢP ĐỒNG
        -- =================================================================================
        -- Gọi Function ở Event 2 để xem khách đang nợ tổng cộng bao nhiêu
        SET @DuNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());

        IF (@SoTienKhachTra >= @DuNoHienTai)
        BEGIN
            -- KỊCH BẢN 2A: KHÁCH TRẢ HẾT NỢ
            -- 1. Cập nhật hợp đồng
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            
            -- 2. Trả lại toàn bộ tài sản
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD;
            
            -- 3. Ghi Log số tiền thực thu (Chỉ thu bằng đúng số nợ, tiền thừa trả lại khách)
            INSERT INTO LogBienDong (MaHD, MaNV, NgayGiaoDich, SoTienTra, NoiDung)
            VALUES (@MaHD, @MaNV, GETDATE(), @DuNoHienTai, N'Tất toán hợp đồng');
            
            PRINT N'Khách đã thanh toán đủ. Đã cập nhật trạng thái và trả toàn bộ tài sản.';
        END
        ELSE
        BEGIN
            -- KỊCH BẢN 2B: KHÁCH TRẢ GÓP (TRẢ MỘT PHẦN)
            -- 1. Cập nhật trạng thái
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            
            -- 2. Ghi Log số tiền khách nộp vào
            INSERT INTO LogBienDong (MaHD, MaNV, NgayGiaoDich, SoTienTra, NoiDung)
            VALUES (@MaHD, @MaNV, GETDATE(), @SoTienKhachTra, N'Khách thanh toán trả góp');
            
            -- Tính số nợ còn lại sau khi trừ tiền vừa trả
            SET @DuNoMoi = @DuNoHienTai - @SoTienKhachTra;
            PRINT N'Đã ghi nhận trả góp. Dư nợ còn lại: ' + CAST(@DuNoMoi AS NVARCHAR);

            -- =================================================================================
            -- Ý NHỎ 3: ĐƯA RA DANH SÁCH GỢI Ý TRẢ ĐỒ (Chỉ áp dụng khi trả góp)
            -- =================================================================================
            -- Tính tổng giá trị các tài sản đang bị tiệm cầm đồ giữ
            SELECT @TongGiaTriTS = ISNULL(SUM(GiaTriDinhGia), 0) 
            FROM TaiSan 
            WHERE MaHD = @MaHD AND TrangThaiTS = N'Đang cầm cố';

            PRINT N'--- DANH SÁCH TÀI SẢN CÓ THỂ LẤY VỀ ---';
            -- Truy vấn những món đồ thỏa mãn: (Tổng giá trị TS - Giá trị món đồ đó) >= Dư nợ mới
            SELECT 
                MaTS, 
                TenTaiSan, 
                GiaTriDinhGia,
                (@TongGiaTriTS - GiaTriDinhGia) AS GiaTriTaiSanGiuLai,
                @DuNoMoi AS DuNoHienTai,
                N'Đủ điều kiện lấy về' AS GhiChu
            FROM TaiSan
            WHERE MaHD = @MaHD 
              AND TrangThaiTS = N'Đang cầm cố'
              AND (@TongGiaTriTS - GiaTriDinhGia) >= @DuNoMoi;
        END

        -- Chốt giao dịch thành công
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi hệ thống: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
